/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@500&display=swap');



/* common style */
body{
     font-family: 'Poppins', sans-serif;
     background-color: #F3F1FF;
     align-items: center;
}
main{
    display: flex;
    align-items:center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    width: 100%;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

/* ----------------------------
      main style starts
------------------------------*/

/* HEADER and NAV styles FROM PORTFOLIO*/

/*------top-players style-------*/
.section-title{
    color: #4a21fd;
    font-style:normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
}
.top-players{
    margin-bottom: 30px;
}
 
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 10px;
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 26px;
}

/* top blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap:27px ;
}
.blog{
    display: flex;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 177px;
}
.blog-info{
    margin-left: 15px;
}
.blog-title{
    font-size: 10px;
}
.blog-author{
    color: #535353;
    font-size: 20px;
}
.blog a{
    text-decoration: none;
    font-size: 16px;
    color:#7255f1
}

/*------latest courses styles--------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.course{

}
.course .course-banner img{
    width: 100px;
    height: 100px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #AEAEAE;
}

.course-duration{
    font-size: small;
    margin-top: 10px;
}

/* FOOTER part */
.footer {
    width: 100%;
    background-color: #0b0d17;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 20px 0px;
    letter-spacing: 1px;
    margin-top:3%;
  }

  .footer h3{
    font-family: 'DynaPuff', cursive;
  }
 
  .footer p {
    font-size: 14px;
  }
  #footer-color {
    color: #562EFF;
  }
  .nickname {
    color:lime;
  }
  .research-interest{
    text-align: center;
    font-size:medium;
    font-weight: 500;
  }
  .education{
    font-size: medium;
    margin-top: 10px;
}
/* -------------------------------
        Media Queries
---------------------------------- */
/* mobile */
@media only screen and (max-width:688px){
    body{
       text-align: center;
    }
    .container{
        width: 100%;
        align-items: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}
/* tablet */
@media only screen and (min-width:689px) and (max-width:992px)
{
    body{
        text-align: center;
     }
    .container{
        width: 100%;
        align-items: center;
    }
    .players, .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}





/*-------------------------------------------------------------------------*/
/*from portfolio*/
.btn{
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    border: 0;
    padding: 10px 15px;
    height: 64px;
    border-radius: 5px;
    background:  #562EFF;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;

}
.banner-title{
  font-weight: 700;
  font-size: 45px;
}
.banner-sub-title{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;

}
.banner-title{
  font-weight: 700;
  font-size: 45px;
}
.banner-sub-title{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/*------------------- Main Styles-------------- */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
    font-weight: 700;
    font-size: 25px;
}
/* About section Styles */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
} 
.section-title{
    margin-bottom: 30px;
    text-align: center;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    color: #474747;
}
/* What I do section styles */
.what-i-do{
    width: 930px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #562EFF;
    box-shadow: #562EFF;
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    color: #535353; 
    font-size: medium;
    
}
.skill-des{
    color: #555454;
}
/* Resume Section Styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #676767;
    font-weight: 600;
    font-size: 17px;
    margin-bottom:20px ;
}
 .description{
    color: #757575;
    font-size: 15px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
#contact{
    display: flex;
    gap: 100px;
    background: #FFFFFF;
    padding: 130px 200px;
   
}
.contact .section-title{
    text-align: left;
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 24px;
}
.connect .description{
    margin-bottom: 30px;
}
.connect a{
    text-decoration: none;
}
.armin{
    height: 150px;
    width: 150px;
}

.contact{
    background: #ffffff;
}
/* .connect{
   justify-content: space-between;
} */